@import "../app.component.css";
.signinbt {
  display: block;
  width: 200px; /* Adjust width as needed */
  margin: 0 auto; /* Center the button horizontally */
  padding: 10px 20px; /* Add padding */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.signinbt:hover {
  background-color: #0056b3; /* Change background color on hover */
}
.displayInfo {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.displayInfo img {
  max-width: 80%; /* Ensure the image doesn't exceed the container width */
  max-height: 80%; /* Ensure the image doesn't exceed the container height */
}
